<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/hmdbase?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC
        </property>
        <property name="hibernate.connection.username">
            root
        </property>
        <property name="hibernate.connection.password">
           root
        </property>

        <!-- List of XML mapping files -->
        <mapping class="org.reyantovich.yauheni.hmdbase.HmdObjectType"/>
        <mapping class="org.reyantovich.yauheni.hmdbase.HmdAttributes"/>
        <mapping class="org.reyantovich.yauheni.hmdbase.HmdObjects"/>
        <mapping class="org.reyantovich.yauheni.hmdbase.HmdValues"/>
        <mapping class="org.reyantovich.yauheni.hmdbase.HmdRefs"/>

    </session-factory>
</hibernate-configuration>